---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1>VRoid AI Portfolio</h1>
    <p>Model 3D akan muncul di sini.</p>
    
    <div id="canvas-container" style="width: 600px; height: 800px; border: 1px solid black;">
        </div>

  </main>
</Layout>